@font-face {
  font-family: "iconfont"; /* Project id 4715242 */
  src: url('iconfont.woff2?t=1729176687582') format('woff2'),
       url('iconfont.woff?t=1729176687582') format('woff'),
       url('iconfont.ttf?t=1729176687582') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e600";
}

.icon-ditu:before {
  content: "\e7ba";
}

.icon-xiangzuoshouqi:before {
  content: "\e619";
}

.icon-jiantou_xiangyouliangci:before {
  content: "\eb09";
}

.icon-xitongguanli-:before {
  content: "\e617";
}

.icon-yonghuguanli:before {
  content: "\e688";
}

.icon-rizhiguanli:before {
  content: "\e639";
}

